@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100%;
  
 /* background-color: rgb(250, 253, 222);*/
}

/* HEADER ELEMENTS */
header {
  margin: 50px;
  margin-left: 200px;
  padding: 5px;
  width: 75%;
  justify-content: center;
  margin-bottom: 60px;
  padding-bottom: 20px;
  background: rgba(159, 200, 236, 0.47);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
header h2 {
  padding: 20px;
  margin-left: 400px;
  font-family: "Comforter", cursive;
  font-size: 50px;

  color: #0789c8;
}
header p {
  padding: 15px;
  margin-left: 400px;
  font-family: "Montserrat", sans-serif;
}
header img {
  padding: 15px;
  border-radius: 10%;
  margin-left: 90px;
  margin-top: 60px;
  margin-right: 0px;
  float: left;
}

/* ANIME CONTAINER */

img {
  width: 200px;
  height: 300px;
}
.anime_container {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 30px;
}
.card {
  margin: 20px;
  padding: 20px;

  border-radius: 10%;
  font-family: "Montserrat", sans-serif;
}
.synopsis {
  display: block;
  justify-content: right;
}

/* CARDS */

.card {
  background: rgba(159, 200, 236, 0.47);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
